# Utilities
pyyaml
matplotlib
numpy
pandas
requests
python-dateutil
pytz
python-dotenv
streamlit==1.32.0

# Development
flake8

# Logging
python-json-logger

# Web Framework
flask


# Youtubeダウンロード
pytube
yt-dlp